:root {
  --brand-color-01: #264653;
  --brand-color-02: #2a9d8f;
  --brand-color-03: #1c6b62;

  --color-text-main: #1b1b24;
}

html {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdf6f6;
}

button {
  background-color: var(--brand-color-02);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 44px;
  min-width: 80px;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  margin: 8px 0;
}

button:hover {
  background-color: var(--brand-color-03);
  cursor: pointer;
}

button.disabled {
  background-color: rgba(100, 100, 100, 0.8);
}

input {
  height: 3em;
  border: 1px solid #5b696f;
  box-shadow: inset -2px -2px 6px 0px #eeeeee;
  color: var(--brand-color-01);
  border-radius: 2px;
  font-size: 1rem;
}

#menuPrincipal {
  top: 0;
  left: 0;
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 250px;
  background-color: var(--brand-color-01);
  padding: 8px;
}

#menuPrincipal .imgContainer {
  text-align: center;
}

#menuPrincipal ul li > a {
  color: #fff;
  font-weight: bold;
}

#menuPrincipal ul {
  list-style: none;
}

#menuPrincipal ul li {
  padding: 4px;
  margin: 16px 0;
}

#menuPrincipal ul li:hover {
  background-color: #fff;
  color: var(--brand-color-01);
}

#menuPrincipal ul li:hover > a {
  color: var(--brand-color-01);
}

/* @media only screen and (max-width: 800px) {
  #menuPrincipal {
    top: auto;
    bottom: 0;
    position: fixed;
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: rgba(145, 56, 56, 0.84);
    box-shadow: 0 0.05em 0.1em 0.05em rgba(145, 56, 56, 0.84);
    padding: 8px;
  }
} */

#container {
  margin: 0 258px;
}

#formTwist {
  margin: 8px;
  padding: 8px;
}

#formTwist > input {
  width: 100%;
  height: 3em;
  color: var(--brand-color-01);
  border-radius: 5px;
  padding: 0.2em;
  font-size: 1.2rem;
}

#conteudoPrincipalContainer {
  margin: 8px;
  padding: 8px;
}

#conteudoPrincipalContainer > .post {
  margin: 8px 0;
  padding: 8px;
  border-top: 1px solid rgba(100, 100, 100, 0.8);
}

#conteudoPrincipalContainer > .post .nomePessoa {
  font-weight: bolder;
}

#conteudoPrincipalContainer > .post .conteudoPost {
  font-weight: medium;
}

#containerLadoDireito {
  border-left: 2px solid var(--brand-color-01);
  height: 100%;
  top: 0;
  right: 0;
  width: 250px;
  position: fixed;
}

#pesquisaContainer {
  top: 0;
  right: 0;
  width: 250px;
  position: fixed;
  text-align: center;
  background-color: var(--brand-color-01);
}

#pesquisaContainer input {
  border: 1px solid var(--brand-color-01);
  border-radius: 5px;
  height: 20px;
  margin: 8px;
  padding: 8px;
  width: 80%;
  font-size: 1rem;
}

#blocoOQueEstaAcontecendo {
  margin-top: 250px;
}

#blocoOQueEstaAcontecendo ul li {
  padding: 2px;
  border-radius: 10px;
  color: var(--color-text-main);
  font-weight: bold;
}

#blocoReportarProblema {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  width: 250px;
  text-align: center;
}

#blocoReportarProblema button {
  background-color: transparent;
  border: solid 2px #ec8734;
  color: #ec8734;
}

#modalReportarProblema {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalReportarProblema input {
  width: 90%;
}

.btnModal {
  margin-top: 16px;
}

#modalReportarProblema.mostrar {
  display: block;
}

.conteudo-modal {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#btnCancelar {
  background-color: transparent;
  border: solid 2px var(--brand-color-02);
  color: var(--brand-color-02);
}

#btnCancelar:hover {
  border: solid 2px var(--brand-color-03);
  color: var(--brand-color-03);
}

.esconderVisualmente {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
